uvicorn
fastapi
pydantic
sqlalchemy
langchain
python-multipart
openai
python-dotenv
requests
aiohttp
pypdf
tiktoken

chromadb
langchain-chroma
langchain-huggingface
langchain-community
langchain-text-splitters
langgraph
langchain-core
langchain-groq
pytest
sentence-transformers